@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Kdam+Thmor+Pro&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');

body {
    font-family: "Pathway Extreme", sans-serif;
}
html {
    scroll-behavior: smooth;
}

.khmer {
    font-family: "Hanuman", serif;
}

/* ======== Menu Active ======== */
nav .menu ul li.active {
    border-radius: 30px;
    transition: 0.3s;
}

nav .menu ul li.active a {
    color: #11d00e;
}


/* ================ Skill ===================== */
.flex-content .flex1 {
    display: flex;
    flex: 1;
}

.progress {
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 2px;
    display: flex;
    justify-content: flex-start;
    height: 8px;
    font-size: 11px;
}

.progress-value {
    animation: load 3s normal forwards;
    border-radius: 100px;
    background: #fcbf49;
    height: 5px;
    width: 0;
}

.progress-value2 {
    animation: load2 3s normal forwards;
    border-radius: 100px;
    background: #fcbf49;
    height: 5px;
    width: 0;
}

.progress-value3 {
    animation: load3 3s normal forwards;
    border-radius: 100px;
    background: #fcbf49;
    height: 5px;
    width: 0;
}

.progress-value4 {
    animation: load4 3s normal forwards;
    border-radius: 100px;
    background: #fcbf49;
    height: 5px;
    width: 0;
}
.progress-value5 {
    animation: load5 3s normal forwards;
    border-radius: 100px;
    background: #fcbf49;
    height: 5px;
    width: 0;
}
.progress-value6 {
    animation: load6 3s normal forwards;
    border-radius: 100px;
    background: #fcbf49;
    height: 5px;
    width: 0;
}

@keyframes load{
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes load2 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes load3 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes load4 {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

@keyframes load5 {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

@keyframes load6 {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}


/* =============Gallery Click Change =============== */
.gallery .gallery-filter .filter-item {
    border-bottom: 2px solid transparent;
    line-height: 1.2;
    transition: all 0.3s ease;
}

.gallery .gallery-filter .filter-item.active {
    color: #4c4243;
    border-color: #d49c48;
}

.gallery .gallery-item {
    width: calc(100% / 3);
    padding: 5px;
}

.gallery .gallery-item.hide {
    display: none;
}

.gallery .gallery-item.show {
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*===== responsive =====*/
@media(max-width: 991px) {
    .gallery .gallery-item {
        width: 50%;
    }
}

@media(max-width: 448px) {
    .gallery .gallery-item {
        width: 100%;
    }

    .gallery .gallery-filter .filter-item {
        margin-bottom: 10px;
    }
}


.banner-shape {
    position: absolute;
    right: 160px;
    bottom: 0;
    z-index: -1;
    opacity: .4;
}

.rotateme {
    -webkit-animation-name: rotateme;
    animation-name: rotateme;
    -webkit-animation-duration: 50s;
    animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

/* scroll bar */
.scroll-bar::-webkit-scrollbar {
    width: 0.2rem;
}
.scroll-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #0000004d;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.pageContent {
    animation: ease slideIn 0.5s;
    animation-timing-function: linear;
}


@keyframes slideIn {
    from {
        transform: translateY(-28%);
        opacity: 0.25;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}