@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Kdam+Thmor+Pro&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body {
    font-family: "Pathway Extreme", sans-serif;
}
html {
    scroll-behavior: smooth;
}

nav .menu ul li.active {
    /* background-color: #3b49df; */
    border-radius: 30px;
    transition: 0.3s;
}

nav .menu ul li.active a {
    color: #11d00e;
}

/* ================ Skill ===================== */


.flex-content .flex1 {
    display: flex;
    flex: 1;
}

.progress {
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 2px;
    display: flex;
    justify-content: flex-start;
    height: 8px;
    font-size: 11px;
}

.progress-value {
    animation: load 3s normal forwards;
    border-radius: 100px;
    background: #fcbf49;
    height: 5px;
    width: 0;
}

.progress-value2 {
    animation: load2 3s normal forwards;
    border-radius: 100px;
    background: #fcbf49;
    height: 5px;
    width: 0;
}

.progress-value3 {
    animation: load3 3s normal forwards;
    border-radius: 100px;
    background: #fcbf49;
    height: 5px;
    width: 0;
}

.progress-value4 {
    animation: load4 3s normal forwards;
    border-radius: 100px;
    background: #fcbf49;
    height: 5px;
    width: 0;
}
.progress-value5 {
    animation: load5 3s normal forwards;
    border-radius: 100px;
    background: #fcbf49;
    height: 5px;
    width: 0;
}
.progress-value6 {
    animation: load6 3s normal forwards;
    border-radius: 100px;
    background: #fcbf49;
    height: 5px;
    width: 0;
}

@keyframes load {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes load2 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes load3 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes load4 {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

@keyframes load5 {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

@keyframes load6 {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}